<h1>Pedidos</h1>
<hr>
<div>
    <div class="row">
        <div class="col">
            <input class="form-control" type="text" placeholder="Buscar Pedido" (keyup.enter)="buscarPedido(pedido.value)" #pedido>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="buscarPedido(pedido.value)">Buscar</button>
        </div>
    </div>
</div>
<p></p>
<div *ngIf="numPedido">
    <a href="http://192.168.84.108:8080/servicios/descarga_pedido/{{numPedido}}/" class="btn btn-primary">Descargar Pedido</a>
    <!--a href="http://localhost:8000/servicios/descarga_pedido/{{numPedido}}/" class="btn btn-primary">Descargar Pedido</a-->
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">cantidad</th>
            <th scope="col">Descripción Material</th>
            <th scope="col">Peso</th>
            <th scope="col">Clave Producto</th>
            <th scope="col">Clave Unidad de Medida</th>
            <th scope="col">Tienda</th>
            <th scope="col">Código Postal</th>
            <th scope="col">Estado</th>
            <th scope="col">Direccion</th>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Volumen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos">
            <td>{{pedido.cantidad | number: '0.0-0'}}</td>
            <td>{{pedido.descripcionMaterialCarga}}</td>
            <td>{{pedido.pesoArticulo | number: '.5-5'}}</td>
            <td>{{pedido.claveProductoServicio}}</td>
            <td>{{pedido.claveUnidadMedidaEmbalaje}}</td>
            <td>{{pedido.tienda}}</td>
            <td>{{pedido.codigoPostal}}</td>
            <td>{{pedido.estado}}</td>
            <td>{{pedido.direccion}}</td>
            <td>{{pedido.idOrigen}}</td>
            <td>{{pedido.idDestino}}</td>
            <td>{{pedido.volumen | number: '.0-0'}}</td>
        </tr>
    </tbody>
</table>
<div class="row" *ngIf="!numPedido">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existe pedido con el número indicado
        </div>
    </div>
</div>