<h1>Detalle de contenedores {{ola}}</h1>
<hr>
<div>
    <a href="http://192.168.84.108:8080/servicios/detalle_ola/" class="btn btn-primary">Descargar Detalle de Contenedores</a>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">OLA</th>
            <th scope="col">PEDIDO</th>
            <th scope="col">CONTENEDOR</th>
            <th scope="col">ESTATUS</th>
            <th scope="col">TIPO</th>
        </tr>
    </thead>
    <!--tbody>
        <tr *ngFor="let estatus of estatusOla">
            <td>{{estatus.semana}}</td>
            <td>{{estatus.ola}}</td>
            <td>{{estatus.pedidos}}</td>
            <td>{{estatus.contenedores}}</td>
            <td>{{estatus.carton}}</td>
            <td>{{estatus.bolsa}}</td>
            <td>{{estatus.pickingPending}}</td>
            <td>{{estatus.inPicking}}</td>
            <td>{{estatus.packingPending}}</td>
            <td>{{estatus.inPacking}}</td>
            <td>{{estatus.stagingPending}}</td>
            <td>{{estatus.loadingPending}}</td>
            <td>{{estatus.shipConfirmPending}}</td>
            <td>{{estatus.loadConfirmPending}}</td>
            <td>{{estatus.closed}}</td>
            <td>{{estatus.closed*100/estatus.contenedores | number: '0.0-2'}}%</td>
        </tr>
    </tbody-->
</table>
