<h1>Descarga de archivos Contenedores Qc</h1>
<hr>
<div>
    <div class="row">
        <div class="col">
            <h4>Contenedores Qc</h4>
        </div>
        <div class="col"></div>
        <div class="col">
            <a href="http://192.168.84.108:8080/servicios/container_qc/" class="btn btn-primary">Descargar Contenedores Qc</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h4>Items Contenedores Qc</h4>
        </div>
        <div class="col"></div>
        <div class="col">
            <a href="http://192.168.84.108:8080/servicios/item_container_qc/" class="btn btn-primary">Descargar Items de Contenedores Qc</a>
        </div>
    </div>
    <hr>
