<h1>Descarga de archivos Inbound</h1>
<hr>
<div>
    <div class="row">
        <div class="col">
            <h4>Inventario racks</h4>
        </div>
        <div class="col"></div>
        <div class="col">
            <a href="http://127.0.0.1:8000/servicios/inventario_almacenaje_file" class="btn btn-primary">Descargar Inventario</a>
        </div>
    </div>
    <hr>
<!-- Nuevo -->
    <div class="row">
        <div class="col">
            <h4>Unlock & Shorpick</h4>
        </div>
        <div class="col"></div>
        <div class="col">
            <a href="http://127.0.0.1:8000/servicios/unlock&shorpick/" class="btn btn-primary">Descargar Unlock&Shorpick</a>
        </div>
    </div>
    <hr>
