<h1>Descarga de archivos</h1>
<hr>
<div>
    <div class="row">
        <div class="col">
            <h4>Tareas abiertas</h4>
        </div>
        <div class="col"></div>
        <div class="col">
            <a href="http://192.168.84.108:8080/servicios/tareas_abiertas_file" class="btn btn-primary">Descargar tareas abiertas</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h4>Contenedores</h4>
        </div>
        <div class="col"></div>
        <div class="col">
            <a href="http://192.168.84.108:8080/servicios/contenedores_file" class="btn btn-primary">Descargar Listado de contenedores</a>
        </div>
    </div>
</div>